fastapi>=0.110
uvicorn>=0.29

git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git

pyotp>=2.9.0
python-dotenv>=1.0.1
requests>=2.31.0
motor>=3.7.1
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]